<article>
  <header>
    <h1>$title$</h1>
  </header>

  $body$

  <footer>
    <p>Posted on $date$. Tags: $tags$</p>

    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function() {
      this.page.url = 'http://gekkio.fi$url$';
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = '//gekkio-fi.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </footer>
</article>
